.wrapper {
  min-height: 500px;
  display: flex;
  flex-direction: column;

  background: url('@/assets/img/background_account_info.png') center center no-repeat, #f5f5f5;
  background-position-x: right;
  background-size: contain;
}
