.wrapper {
  padding: 15px;
  min-height: 450px;
  position: relative;

  background: url('@/assets/img/background_account_list.png') center center no-repeat, #f5f5f5;
  background-position-y: bottom;
  background-size: contain;
}
